<% if(obj === true){ %>
<a href="#none" class="link_fold">더보기<span class="ico_ent ico_more"></span></a>
<a href="#none" class="link_other"><span class="ico_ent ico_top"></span>맨위로</a>
<% } else { %>
<span href="#none" class="link_fold">더보기 없음</span>
<a href="#none" class="link_other"><span class="ico_ent ico_top"></span>맨위로</a>
<% } %>